:root {
  --selected-color: rgb(207, 4, 51);
  --primary-text: #e5de00;
}

body {
  background: var(--selected-color);
  color: var(--primary-text);
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
}

p {
  font-family: 'Caveat', cursive;
  font-size: 1.25rem;
  margin-top: 40px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
  text-align: center;
}

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
  height: 500px
}

form {
  margin-top: 40px;
  font-family: 'Caveat', cursive;
  font-size: 1.8rem;
  color: white;
  text-align: center;
}

select {
  display: block;
  background: var(--primary-text);
  text-align: center;
  color: black;
  border: none;
  font-size: 1.1em;
  font-family: 'Caveat', cursive;
}
